
* {
    margin: 0;
    padding: 0;
}

#container {
    display: block;
    width: 50%;
    margin: 50px auto auto;
}

input {
    margin-bottom: 5px;
}

textarea {
    width: 600px;
}

#list {
    display: block;
    height: 200px;
    width: 600px;
    margin-top: 50px;
    border: solid 1px #ddd;
}

#list .item {
    width: 98%;
    height: 50px;
    margin: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #ddd;
}

#list .item .avatar {
    width: 50px;
    height: 50px;
    display: inline-block;
    float: left;
    margin: 0 5px 5px 0;
    background: url("../image/stock.jpg");
    background-size: 530px 630px;
}

#list .item .content {
    float: left;
    display: inline-block;
}

#list .item .a {
    background-position: -41px -48px;
}

#list .item .b {
    background-position: -121px -48px;
}

#list .item .c {
    background-position: -200px -48px;
}

#list .item .d {
    background-position: -280px -48px;
}

#list .item .e {
    background-position: -360px -48px;
}

#list .item .f {
    background-position: -439px -48px;
}

#list .item .g {
    background-position: -40px -138px;
}

#list .item .h {
    background-position: -120px -138px;
}

#list .item .i {
    background-position: -200px -138px;
}

#list .item .j {
    background-position: -280px -138px;
}

#list .item .k {
    background-position: -360px -138px;
}

#list .item .l {
    background-position: -438px -138px;
}

#list .item .m {
    background-position: -40px -226px;
}

#list .item .n {
    background-position: -120px -226px;
}

#list .item .o {
    background-position: -200px -226px;
}

#list .item .p {
    background-position: -280px -226px;
}

#list .item .q {
    background-position: -360px -226px;
}

#list .item .r {
    background-position: -438px -226px;
}

#list .item .s {
    background-position: -40px -315px;
}

#list .item .t {
    background-position: -120px -315px;
}

#list .item .u {
    background-position: -200px -315px;
}

#list .item .v {
    background-position: -280px -315px;
}

#list .item .w {
    background-position: -359px -315px;
}

#list .item .x {
    background-position: -439px -315px;
}

#list .item .y {
    background-position: -40px -403px;
}

#list .item .z {
    background-position: -120px -403px;
}
