*{margin:0px;padding:0px;}
.container{
	width:527px;
	margin:auto;
}

#txtComment{
	width:600px;
}
.icon-user{
	width:600px;
	height:900px;
	border:1px solid black;
	margin: 100px 0px 0px 0px;
}

.avatar{
	width: 100px;
    height: 100px;
    display:inline-block;
    float: left;
	padding:5px;
	background:url("../img/icon.jpg");
}
.item{
	width: 98%;
    height: 100px;
    padding-bottom: 13px;
    border-bottom: solid 1px #ddd;
}
.content{
	float:left;
	margin-top:37px;
}
